#questText{
  display: inline-block;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #EEEEEE;
}

#top-half{
  height: 50%;
}

.btn {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #353C3E !important;
}

.questRow {
  padding-top: 10%;
}

#answerButtons {
  padding-top: 10px;
}
